{% load static %}
<!DOCTYPE html>
<html>
  <header>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title>
            Bad Gaming Shop - Gaming With Ease
        </title>

        <script type="text/javascript">
        var user = '{{ request.user }}'
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        </script>
    </head>
    <style>
      .m-30{
        margin-top: 30px;
      }
      .m-10{
        margin-top: 10px;
      }
      .m-20{
        margin-top: 20px;
      }
      a{
        text-decoration: none;
        color: rgb(13, 185, 185);
      }
      body {
      display: flex;
      min-height: 100vh;
      flex-direction: column; }
      main {
        flex: 1 0 auto;
        }
      .m30{
        margin-top: -30px;
      }
      .ml-10{
        margin-left: 10px;
      }
      .mt-70{
        margin-top: 70px;
      }
    </style>
  </header>


<main>
<body>
  <nav>
    <div class="nav-wrapper ">
    <a href="{% url 'page-home' %}" class = "brand-logo left">Bad Gaming Shop
      <i class="large material-icons right">videogame_asset</i></a>

      <!--Dropdown Dataset-->
      <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Mouse</a></li>
      </ul>

      <ul id="nav-mobile" class="right hide-on-med-and-down ">
        <li><a href="{% url 'catlist' %}"><i class="material-icons">reorder</i></a></li>
        <li><a href="{% url 'search-item' %}"><i class="material-icons">search</i></a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'cart' %}"><i class="material-icons">shopping_cart</i></a></li>
        <li><a href="{% url 'account' %}"><i class="material-icons large left">account_circle</i>{{user.username}}</a></li>
        <li><a class="waves-effect waves-light btn purple darken-1" href ="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="waves-effect waves-light btn" href ="{% url 'login' %}">Login</a></li>    
        {% endif %}
      </ul>
    </div>
  </nav>
    <div class="container m-30">
    {% if messages %}
        {% for message in messages %}
        <div class="container">
            <div class="container">
        <div class="card-panel teal lighten-2">
            <span class="white-text text-darken-2">
              {{ message }}
            </span>
          </div>
        </div>
      </div>
        {% endfor %} 
        {% endif %} 

 
      {% block content %}
      {% endblock %}
      </div>



      
    <script src ="{% static 'store/Component/card.js' %}"></script>
    <script src ="{% static 'store/Component/card2.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src ="{% static 'store/Script/main.js' %}"></script>
    <script src ="{% static 'store/Script/view.js' %}"></script>
</body>
</main>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">"If You Cant Convince Them, Confuse Them" - Harry S Truman</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Tentang Kami</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Hubungi Kami</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
      ©2020 Martin Hizkia Parasi
      </div>
    </div>
  </footer>
</html>