{% extends "store/base.html" %}
{% block content %}
<div class="m-30 ">
    <div class = "row">
            <div class="container col s9">
            <div class="row">
                <div class="col s6">
                    <img class="materialboxed center-align" width="350" 
                src="{{object.productImg}}">   
            </div>
                <div class="col s6">
                    <h4>{{object.productName}}</h4>   
                </div>
                <span class="new badge left" data-badge-caption="category">mouse </span>
        </div>
        <hr>
        <div>
            <p>{{object.productDesc}}</p>
        </div>
        </div>
            <div class = "container col s3">
                    <a class="
                    {% if user.is_authenticated %}
                    waves-effect waves-light btn-large
                    {% else %}
                    btn-large disabled
                    {% endif %}"><i class="material-icons left">shopping_cart
                        </i>Masukkan Keranjang</a>
                        <hr>
                        <a class="waves-effect waves-light btn-large"><i class="material-icons left">settings_phone
                            </i>Hubungi Kami di Whatsapppp</a>    
                           <ul class="collection with-header">
                                <li class="collection-header center-align"><h5>Rp{{object.productPrice}}</h5></li>
                                <li class="collection-item"><div>Termurah<a href="#!" class="secondary-content"><i class="material-icons">check</i></a></div></li>
                                <li class="collection-item"><div>Terpercaya<a href="#!" class="secondary-content"><i class="material-icons">check</i></a></div></li>
                                <li class="collection-item"><div>Bergaransi<a href="#!" class="secondary-content"><i class="material-icons">check</i></a></div></li>
                            </ul>
        </div>
        </div>


{% endblock %}