{% extends "store/base.html" %}
{% block content %}
<div class="container">
    <div class="container">
<div class="card ">
        <div class="card-content">
           <blockquote><h4>Terima Kasih Telah Berbelanja</h4></blockquote>
           <hr>
           <div class = "center-align">
           <h5>Kirim bukti transaksi</h5>
           <p>Ke Whatsapp : 0120310914</p>
           <a class = "btn m-30" href = "{% url 'page-home' %}">Kembali Berbelanja</a>
        </div>
        </div>
    </div>
</div>
</div>


{% endblock %}