{% extends "store/base.html" %}
{% block content %}

<div class="container">
        <div class="container">
    <nav class = "center-align">
        <div class="nav-wrapper">
          <form method = "GET" >
            <div class="input-field">
              <input id="search" type="search" name="search" required placeholder="Cari Produk">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
             <i class="material-icons">close</i>
            </div>
            <button class = "btn"  type="submit">Cari</button>
          </form>
        </div>
      </nav>
    </div>
</div>

<div class = "mt-70 row">
{% for item in all_search_results %}
    {% if user.is_authenticated %}
        <product-card harga ="{{ item.productPrice }}" imgsrc="{{ item.productImg }}"
        name="{{ item.productName }}" url="{% url 'product-detailed' item.pk %}"
        datprod = "{{item.pk}}"></product-card>
    {% else %}
        <guess-card harga ="{{ item.productPrice }}" imgsrc="{{ item.productImg }}"
        name="{{ item.productName }}" url="{% url 'product-detailed' item.pk %}"></guess-card>
    {% endif %}
{% endfor %}
</div>

{% endblock %}