{% extends "store/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="container">
           <div class = "card">
                <form method="POST">
                        <div class = "card-content">
                        {% csrf_token %}
                            <h5>
                                Update Password
                            </h5>
                            {{ form|crispy}}
                            <button class="waves-effect waves-light btn m-10">
                           Update
                            </button>
                            </div>
                    </form>
           </div>
    </div>
</div>
{% endblock %}