{% extends "store/base.html" %}
{% block content %}
<div class="container">



<div class="row">
        <div class="col s12 m4">
            <a href=#>
                <div class="card pink lighten-5">
                    <div class="card-content center">
                        <i class="material-icons large center">group</i>
                        <h5>Ubah Profile</h5>
                    </div>
                </div>
            </a>
            </div>

    <div class="col s12 m4">
            <div class="card pink lighten-5">
                <div class="card-content center">
                    <i class="material-icons large center">group</i>
                    <h5>Ganti Password</h5>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
                <div class="card pink lighten-5">
                    <div class="card-content center">
                        <i class="material-icons large center">group</i>
                        <h5>Riwayat</h5>
                    </div>
                </div>
            </div>
</div>





</div>
{% endblock %}