{% extends "store/base.html" %}
{% block content %}
<div class="container">
    <div class="container">
    <div class="row">
           <div class = "card">
                <h6 class = "card-content"> 
                    Anda Sudah Keluar
                    <div>
                        <small>
                        Kembali ke Halaman<a href="{% url 'login' %}"> Login</a>
                        </small>
                    </div>
                </h6>
           </div>
    </div>
    </div>
</div>
{% endblock %}